# Node stuff
/node_modules
/package-lock.json
/package.json

# Puzzle inputs
solutions/day*/input.txt
solutions/day*/example.txt

# TypeScript dist files
solutions/day2/both.js

solutions/day7/both.js

solutions/day8/both.js

solutions/day9/both.js

solutions/day10/part1.js
solutions/day10/part2.js
solutions/day10/both.js

solutions/day11/part1.js
solutions/day11/part2.js

solutions/day12/part1.js
solutions/day12/part2.js
solutions/day12/both.js

solutions/day13/part1.js
solutions/day13/part2.js
solutions/day13/both.js

solutions/day14/part1.js
solutions/day14/part2.js
solutions/day14/both.js

solutions/day15/part1.js
solutions/day15/part2.js
solutions/day15/both.js

solutions/day16/both.js

solutions/day17/part1.js
solutions/day17/part2.js
solutions/day17/common.js